{
    "swagger": "2.0",
    "info": {
        "title": "Azure Active Directory",
        "description": "Identity and access management services",
        "version": "1.5"
    },
    "host": "graph.windows.net",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "parameters": {
        "tenantIdParam": {
            "name": "tenantId",
            "in": "path",
            "description": "The ID of the tenant of instance of Azure Active Directory",
            "required": true,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "authorizationHeaderParam": {
            "name": "Authorization",
            "in": "header",
            "description": "Contains the bearer token used to authorize access to the API.",
            "required": true,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "apiVersionParam": {
            "name": "api-version",
            "in": "query",
            "description": "Specifies the version of the API that you would like to use.",
            "required": false,
            "type": "string",
            "default": "1.5",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "filterParam": {
            "name": "$filter",
            "in": "query",
            "description": "The oData v3.0 filter statement.  Controls which objects are returned.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "trustedIssuerParam": {
            "name": "trustedIssuer",
            "in": "query",
            "description": "If this is not provided then value will default to all trustedIssuer for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "trustedIssuerSkiParam": {
            "name": "trustedIssuerSki",
            "in": "query",
            "description": "Needed if there are more than one certificates from the same CA. If this is not provided then value will default to all trustedIssuerSKI for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "authorityTypeParam": {
            "name": "authorityType",
            "in": "query",
            "description": "Needed if there are more than one certificates from the same CA. If this is not provided then value will default to all trustedIssuerSKI for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "crlDistributionPointParam": {
            "name": "crlDistributionPoint",
            "in": "query",
            "description": "Needed if there are more than one certificates from the same CA. If this is not provided then value will default to all trustedIssuerSKI for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "deltaCrlDistributionPointParam": {
            "name": "deltaCrlDistributionPoint",
            "in": "query",
            "description": "Needed if there are more than one certificates from the same CA. If this is not provided then value will default to all trustedIssuerSKI for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "trustedCertificateParam": {
            "name": "trustedCertificate",
            "in": "query",
            "description": "Needed if there are more than one certificates from the same CA. If this is not provided then value will default to all trustedIssuerSKI for the tenant.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "topParam": {
            "name": "$top",
            "in": "query",
            "required": false,
            "description": "The maximum number of records to return.",
            "type": "integer",
            "default": 100,
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "orderByParam": {
            "name": "$orderby",
            "in": "query",
            "description": "The oData v3.0 orderby statement.  Controls the order in which the results are returned.",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "skipTokenParam": {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken use to page forward through a large result set..",
            "required": false,
            "type": "string",
            "x-powershell-hide": true,
            "x-powershell-required": false
        },
        "odataLinkParam": {
            "name": "link",
            "in": "body",
            "description": "a link to a specific Azure Active Directory object",
            "required": true,
            "schema": {
                "$ref": "#/definitions/odata.link"
            },
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "objectIdParam": {
            "name": "objectId",
            "in": "path",
            "description": "The unique identifier of the object specific Azure Active Directory object",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "userIdParam": {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier of a user in Azure Active Directory (UPN or ObjectId)",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "directoryRoleIdParam": {
            "name": "directoryRoleId",
            "in": "path",
            "description": "The unique identifier of a directory role in Azure Active Directory (ObjectId)",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "contactIdParam": {
            "name": "contactId",
            "in": "path",
            "description": "The unique identifier of a contact in Azure Active Directory (ObjectId)",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "deviceIdParam": {
            "name": "deviceId",
            "in": "path",
            "description": "The unique identifier of a device in Azure Active Directory (ObjectId)",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "groupIdParam": {
            "name": "groupId",
            "in": "path",
            "description": "The unique identifier of a group in Azure Active Directory (ObjectId)",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "oAuth2PermissionGrantIdParam": {
            "name": "oAuth2PermissionGrantId",
            "in": "path",
            "description": "The unique identifier of an oAuth2PermissionGrant in Azure Active Directory",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "appObjectIdParam": {
            "name": "appObjectId",
            "in": "path",
            "description": "THe unique idenfier of an application in Azure Active Directory",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        },
        "spObjectIdParam": {
            "name": "spObjectId",
            "in": "path",
            "description": "THe unique idenfier of an application in Azure Active Directory",
            "required": true,
            "type": "string",
            "x-powershell-hide": false,
            "x-powershell-required": true
        }
    },
    "responses": {
        "unexpectedErrorResponse": {
            "description": "Unexpected error",
            "headers": {
                "ocp-aad-diagnositcs-server-name": {
                    "type": "string",
                    "description": "The identifier for the server that performed the requested operation."
                },
                "ocp-aad-session-key": {
                    "description": "The key that identifies the current session with the directory service.",
                    "type": "string"
                }
            },
            "schema": {
                "$ref": "#/definitions/odata.error"
            }
        },
        "successResponse": {
            "description": "Success",
            "headers": {
                "ocp-aad-diagnositcs-server-name": {
                    "type": "string",
                    "description": "The identifier for the server that performed the requested operation."
                },
                "ocp-aad-session-key": {
                    "description": "The key that identifies the current session with the directory service.",
                    "type": "string"
                }
            }
        }
    },
    "paths": {
        "/{tenantId}/users": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUsers",
                "x-powershell-paging": true,
                "x-powershell-filterable": true,
                "operationId": "GetUsers",
                "summary": "Retrieves a list of users in Azure Active Directory based on provided query parameters",
                "description": "Retrieves a list of users in Azure Active Directory based on provided oData query paramters including: $filter, $orderby, $top",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/filterParam"
                    },
                    {
                        "$ref": "#/parameters/topParam"
                    },
                    {
                        "$ref": "#/parameters/orderByParam"
                    }

                ],
                "responses": {
                    "200": {
                        "description": "A list of users",
                        "schema": {
                            "$ref": "#/definitions/getUsersResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADUser",
                "operationId": "CreateUser",
                "summary": "Create a new user in Azure Active Directory",
                "description": "Creates a new user in Azure Active Directory.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "user",
                        "in": "body",
                        "description": "New user",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A list of users",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUser",
                "operationId": "GetUser",
                "summary": "Retrieves a specific user from Azure Active Directory",
                "description": "Retreives a specific user (user object) from Azure Active Directory by objectId or UPN.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "the matching user object",
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "patch": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADUser",
                "operationId": "UpdateUser",
                "summary": "Updates a specific user in Azure Active Directory",
                "description": "Updates a user (user object) identified by objectId or UPN in Azure Active Directory",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "name": "user",
                        "in": "body",
                        "description": "user with updated fields",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user"
                        }
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADUser",
                "operationId": "DeleteUser",
                "summary": "Deletes a specific user in Azure Active Directory",
                "description": "Deletes a user (user object) identified by objectId or UPN in Azure Active Directory",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/manager": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserManager",
                "operationId": "GetUserManager",
                "summary": "Retrieves the manager of a user from Azure Active Directory",
                "description": "Retrieves the manager of a user from Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The manager of the provided user.",
                        "schema": {
                            "$ref": "#/definitions/directoryObject"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/$links/manager": {
            "put": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADUserManager",
                "operationId": "UpdateUserManager",
                "summary": "Updates the user's manager in Azure Active Directory",
                "description": "Updates the user's manager in Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "$ref": "#/parameters/odataLinkParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADUserManager",
                "operationId": "DeleteUserManager",
                "summary": "Deletes the user's manager in Azure Active Directory",
                "description": "Deletes the user's manager in Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/directReports": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserDirectReports",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserDirectReports",
                "summary": "Get the user's direct reports.",
                "description": "Get the user's direct reports.  Direct reports are users who have their manager attribute set to the current user.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The direct reports of the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/memberOf": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserMemberships",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserMemberships",
                "summary": "Get user memberships.",
                "description": "Get a list of groups and directory roles that the user is a member of.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/filterParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The memberships (role, group) of the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/ownedDevices": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserOwnedDevices",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserOwnedDevices",
                "summary": "Get registered devices owned by the user.",
                "description": "Get registered devices owned by the user.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The devices owned by the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDevicesResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/registeredDevices": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserRegisteredDevices",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserRegisteredDevices",
                "summary": "Get registered devices registered by the user.",
                "description": "Get registered devices registered by the user.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The devices registered by the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDevicesResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/oauth2PermissionGrants": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserOAuth2PermissionGrants",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserOAuth2PermissionGrants",
                "summary": "Get the list of the oAuth2PermissionGrants that the user granted applications.",
                "description": "Get the list of the oAuth2PermissionGrants that the user granted applications.  These permissions are typically granted when an application asked for a specific permission to a resource that the user has discretion over.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The devices registered by the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getOAuth2PermissionGrantsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/createdObjects": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserCreatedObjects",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserCreatedObjects",
                "summary": "Get objects created by the user.",
                "description": "Get objects created by the user.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The devices registered by the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/ownedObjects": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserOwnedObjects",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserOwnedObjects",
                "summary": "Get objects owned by the user.",
                "description": "Get objects owned by the user.",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The devices registered by the provided user.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/appRoleAssignments": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserAppRoleAssignments",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetUserAppRoleAssignments",
                "summary": "Get user application role assignments.",
                "description": "Get user application role assignments.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/getAppRoleAssignmentsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADUserAppRoleAssignment",
                "operationId": "CreateUserAppRoleAssignment",
                "summary": "Assign a user to an application role.",
                "description": "Assign a user to an application role.  If no roles exist use guid.empty (all 0000)",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "name": "appRoleAssignment",
                        "in": "body",
                        "description": "New app role assignment",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/appRoleAssignment"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "201": {
                        "description": "the created app role assignment",
                        "schema": {
                            "$ref": "#/definitions/appRoleAssignment"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/appRoleAssignments/{objectId}": {
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADUserAppRoleAssignment",
                "operationId": "DeleteUserAppRoleAssignment",
                "summary": "Delete a user application role assignment.",
                "description": "Delete a user application role assignment.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "$ref": "#/parameters/objectIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/extensionProperties": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADUserExtensionProperties",
                "operationId": "GetUserExtensionProperties",
                "summary": "Get user extension properties",
                "description": "Get user extension properties",
                "tags": [
                    "User"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "$ref": "#/definitions/getExtensionPropertiesResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/assignLicense": {
            "post": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADUserLicenses",
                "operationId": "SetUserLicenses",
                "summary": "Add and remove one or more licenses for a Microsoft online service to the list of assigned licenses for the user.",
                "description": "Add and remove one or more licenses for a Microsoft online service to the list of assigned licenses for the user.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "name": "licensesParam",
                        "in": "body",
                        "description": "A list of licenses to be assigned and those to be removed.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/assignLicenseParam"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/users/{userId}/checkMemberGroups": {
            "post": {
                "x-powershell-verb": "Select",
                "x-powershell-noun": "AzureADGroupIdsUserIsMemberOf",
                "operationId": "SelectAzureADGroupIdsUserIsMemberOf",
                "summary": "From a list of groups Ids select those that the user is a member of.",
                "description": "From a list of groups Ids select those that the user is a member of.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/userIdParam"
                    },
                    {
                        "name": "checkMemberGroupsParam",
                        "in": "body",
                        "description": "A list of groups object ids.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/checkMemberGroupsParam"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The group objects ids that the user was a member of.",
                        "schema": {
                            "$ref": "#/definitions/checkMemberGroupsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/subscribedSkus": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADSubscribedSkus",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetSubscribedSkus",
                "summary": "Retrieves a list of subscribed skus (subscriptions) to Microsoft services.",
                "description": "Retrieves a list of subscribed skus (subscriptions) to Microsoft services.",
                "tags": [
                    "SubscribedSku"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of subscribed skus.",
                        "schema": {
                            "$ref": "#/definitions/getSubscribedSkuResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/tenantDetails": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADTenantDetails",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetTenantDetails",
                "summary": "Retrieves the details of a tenant in Azure Active Directory",
                "description": "Retrieves the details of a tenant in Azure Active Directory",
                "tags": [
                    "TenantDetail"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list tenantDetail objects.",
                        "schema": {
                            "$ref": "#/definitions/getTenantDetailsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/tenantDetails/{tenantId}/trustedCAsForPasswordlessAuth": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADTrustedCertificateAuthorities",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetTrustedCertificateAuthorities",
                "summary": "Retrieves the list of trusted certificate authorities for a tenant in Azure Active Directory",
                "description": "Retrieves the list of trusted certificate authorities for a tenant in Azure Active Directory",
                "tags": [
                    "TrustedCertificateAuthorities"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list tenantDetail objects.",
                        "schema": {
                            "$ref": "#/definitions/getCertificateAuthorityInformationsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADTrustedCertificateAuthority",
                "operationId": "CreateAzureADTrustedCertificateAuthority",
                "summary": "Create a new trusted certificate authority in Azure Active Directory",
                "description": "Creates a new trusted certificate authority in Azure Active Directory.",
                "tags": [
                    "CertificateAuthority"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "certificateAuthority",
                        "in": "body",
                        "description": "New trusted certificate authority",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/certificateAuthorityInformation"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Newly created certificate authority information",
                        "schema": {
                            "$ref": "#/definitions/certificateAuthorityInformation"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRoleTemplate": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDirectoryRoleTemplates",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetDirectoryRoleTemplates",
                "summary": "Retrieves a list of directory role templates in Azure Active Directory",
                "description": "Retrieves a list of directory role templates in Azure Active Directory",
                "tags": [
                    "DirectoryRoleTemplate"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of directory role templates.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryRoleTemplateResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRoles": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDirectoryRoles",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetDirectoryRoles",
                "summary": "Retrieves a list of directory roles in Azure Active Directory based on provided query parameters",
                "description": "Retrieves a list of director roles in Azure Active Directory based on provided oData query paramters including: $filter, $orderby, $top",
                "tags": [
                    "DirectoryRole"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of directory roles.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryRolesResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "Enable",
                "x-powershell-verbType": "VerbsLifecycle",
                "x-powershell-noun": "AzureADDirectoryRole",
                "operationId": "ActivateDirectoryRole",
                "summary": "Activates an existing directory role in Azure Active Directory",
                "description": "Activates an existing directory role in Azure Active Directory.",
                "tags": [
                    "DirectoryRole"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "directoryRole",
                        "in": "body",
                        "description": "Azure active directory role.  Only the roleTemplateId is required.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/directoryRole"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A directory role",
                        "schema": {
                            "$ref": "#/definitions/directoryRole"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRole/{directoryRoleId}": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDirectoryRole",
                "operationId": "GetDirectoryRole",
                "summary": "Retrieves a specific directory role from Azure Active Directory",
                "description": "Retreives a specific directory role (directory role object) from Azure Active Directory by objectId.",
                "tags": [
                    "DirectoryRole"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/directoryRoleIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "the matching directory role object",
                        "schema": {
                            "$ref": "#/definitions/directoryRole"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRole/{directoryRoleId}/members": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDirectoryRoleMembers",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetAzureADDirectoryRoleMembers",
                "summary": "Get the members of a directory role.",
                "description": "Get the members of a directory role.",
                "tags": [
                    "DirectoryRole"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/directoryRoleIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The members of the directory role.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRole/{directoryRoleId}/$links/members": {
            "post": {
                "x-powershell-verb": "Add",
                "x-powershell-noun": "AzureADDirectoryRoleMember",
                "operationId": "AddDirectoryRoleMember",
                "summary": "Add a member to a group",
                "description": "Add a member to a directory role.  (User, Group, Contact)",
                "tags": [
                    "DirectoryRole"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/directoryRoleIdParam"
                    },
                    {
                        "$ref": "#/parameters/odataLinkParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/directoryRole/{directoryRoleId}/$links/members/{objectId}": {
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADDirectoryRoleMember",
                "operationId": "RemoveDirectoryMember",
                "summary": "Removes a specific member of a directory role.",
                "description": "Removes a specific member of a directory role.",
                "tags": [
                    "DirectoryRole"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/directoryRoleIdParam"
                    },
                    {
                        "$ref": "#/parameters/objectIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADContacts",
                "x-powershell-paging": true,
                "x-powershell-filterable": true,
                "operationId": "GetContacts",
                "summary": "Retrieves a list of contacts in Azure Active Directory based on provided query parameters",
                "description": "Retrieves a list of contacts in Azure Active Directory based on provided oData query paramters including: $filter, $orderby, $top",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/filterParam"
                    },
                    {
                        "$ref": "#/parameters/topParam"
                    },
                    {
                        "$ref": "#/parameters/orderByParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of contacts",
                        "schema": {
                            "$ref": "#/definitions/getContactsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADContact",
                "operationId": "CreateContact",
                "summary": "Create a new contact in Azure Active Directory",
                "description": "Creates a new contact in Azure Active Directory.",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "description": "New contact",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A contact",
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADContact",
                "operationId": "GetContact",
                "summary": "Retrieves a specific contact from Azure Active Directory",
                "description": "Retreives a specific contact (contact object) from Azure Active Directory by objectId.",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "the matching contact object",
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "patch": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADContact",
                "operationId": "UpdateContact",
                "summary": "Updates a specific contact in Azure Active Directory",
                "description": "Updates a contact (contact object) identified by objectId",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    },
                    {
                        "name": "contact",
                        "in": "body",
                        "description": "contact with updated fields",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/contact"
                        }
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADContact",
                "operationId": "DeleteContact",
                "summary": "Deletes a specific contact in Azure Active Directory",
                "description": "Deletes a contact (contact object) identified by objectId",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "tags": [
                    "Contact"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}/manager": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADContactManager",
                "operationId": "GetContactManager",
                "summary": "Retrieves the manager of a contact from Azure Active Directory",
                "description": "Retrieves the manager of a contact from Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The manager of the provided contact.",
                        "schema": {
                            "$ref": "#/definitions/directoryObject"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}/$links/manager": {
            "put": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADContactManager",
                "operationId": "UpdateContactManager",
                "summary": "Updates the contact's manager in Azure Active Directory",
                "description": "Updates the contact's manager in Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "Contact"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    },
                    {
                        "$ref": "#/parameters/odataLinkParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADContactManager",
                "operationId": "DeleteContactManager",
                "summary": "Deletes the contact's manager in Azure Active Directory",
                "description": "Deletes the contact's manager in Azure Active Directory.  A manager can be a user or contact object.",
                "tags": [
                    "Contact"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}/directReports": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADContactDirectReports",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetContactDirectReports",
                "summary": "Get the contact's direct reports.",
                "description": "Get the contact's direct reports.  Direct reports are users who have their manager attribute set to the current contact.",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The direct reports of the provided contact.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}/memberOf": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADContactMemberships",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetContactMemberships",
                "summary": "Get contact memberships.",
                "description": "Get a list of groups and directory roles that the contact is a member of.",
                "tags": [
                    "Contact"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The memberships (role, group) of the provided contact.",
                        "schema": {
                            "$ref": "#/definitions/getDirectoryObjectsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/contacts/{contactId}/checkMemberGroups": {
            "post": {
                "x-powershell-verb": "Select",
                "x-powershell-noun": "AzureADGroupIdsContactIsMemberOf",
                "operationId": "SelectAzureADGroupIdsContactIsMemberOf",
                "summary": "From a list of groups Ids select those that the contact is a member of.",
                "description": "From a list of groups Ids select those that the contact is a member of.",
                "tags": [
                    "User"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/contactIdParam"
                    },
                    {
                        "name": "checkMemberGroupsParam",
                        "in": "body",
                        "description": "A list of groups object ids.",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/checkMemberGroupsParam"
                        }
                    }
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "The group objects ids that the contact was a member of.",
                        "schema": {
                            "$ref": "#/definitions/checkMemberGroupsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/devices": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDevices",
                "x-powershell-paging": true,
                "x-powershell-filterable": true,
                "operationId": "GetDevices",
                "summary": "Retrieves a list of devices in Azure Active Directory based on provided query parameters",
                "description": "Retrieves a list of devices in Azure Active Directory based on provided oData query paramters including: $filter, $orderby, $top",
                "tags": [
                    "Device"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/filterParam"
                    },
                    {
                        "$ref": "#/parameters/topParam"
                    },
                    {
                        "$ref": "#/parameters/orderByParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of devices",
                        "schema": {
                            "$ref": "#/definitions/getDevicesResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADDevice",
                "operationId": "CreateDevice",
                "summary": "Create a new device in Azure Active Directory",
                "description": "Creates a new device in Azure Active Directory.",
                "tags": [
                    "Device"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "device",
                        "in": "body",
                        "description": "New device",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/device"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "A device",
                        "schema": {
                            "$ref": "#/definitions/device"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/devices/{deviceId}": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADDevice",
                "operationId": "GetDevice",
                "summary": "Retrieves a specific device from Azure Active Directory",
                "description": "Retreives a specific device (device object) from Azure Active Directory by objectId.",
                "tags": [
                    "Device"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/deviceIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "the matching device object",
                        "schema": {
                            "$ref": "#/definitions/device"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "patch": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADDevice",
                "operationId": "UpdateDevice",
                "summary": "Updates a specific device in Azure Active Directory",
                "description": "Updates a device (device object) identified by objectId",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/deviceIdParam"
                    },
                    {
                        "name": "device",
                        "in": "body",
                        "description": "device with updated fields",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/device"
                        }
                    }
                ],
                "tags": [
                    "Device"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADDevice",
                "operationId": "DeleteDevice",
                "summary": "Deletes a specific device in Azure Active Directory",
                "description": "Deletes a device (device object) identified by objectId",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/deviceIdParam"
                    }
                ],
                "tags": [
                    "Device"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/oauth2PermissionGrants": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADOAuth2PermissionGrants",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
                "operationId": "GetOAuth2PermissionGrants",
                "summary": "Get a list of all oAuth2PermissionGrants granted by users within the directory.",
                "description": "Get the list of oAuth2PermissionGrants granted by users within the directory.  These permissions are typically granted when an application asked for a specific permission to a resource that the user has discretion over.",
                "tags": [
                    "oAuth2PermissionGrant"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of oAuth2PermissionGrants",
                        "schema": {
                            "$ref": "#/definitions/getOAuth2PermissionGrantsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/oauth2PermissionGrants/{oAuth2PermissionGrantId}": {
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADOAuth2PermissionGrants",
                "operationId": "DeleteOAuth2PermissionGrant",
                "summary": "Delete an oAuth2PermissionGrant.",
                "description": "Delete an oAuth2PermissionGrant.  These permissions are typically granted when an application asked for a specific permission to a resource that the user has discretion over.",
                "tags": [
                    "oAuth2PermissionGrant"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/oAuth2PermissionGrantIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/groups": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADGroups",
                "x-powershell-paging": true,
                "x-powershell-filterable": true,
                "operationId": "GetGroups",
                "summary": "Get a list of all groups within the directory.",
                "description": "Get a list of all groups within the directory.",
                "tags": [
                    "Group"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/skipTokenParam"
                    },
                    {
                        "$ref": "#/parameters/filterParam"
                    },
                    {
                        "$ref": "#/parameters/topParam"
                    },
                    {
                        "$ref": "#/parameters/orderByParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of groups",
                        "schema": {
                            "$ref": "#/definitions/getGroupsResponse"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "post": {
                "x-powershell-verb": "New",
                "x-powershell-noun": "AzureADGroup",
                "operationId": "CreateGroup",
                "summary": "Create a new group in Azure Active Directory",
                "description": "Create a new group in Azure Active Directory.",
                "tags": [
                    "Group"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "name": "group",
                        "in": "body",
                        "description": "New group",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/group"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "The created group",
                        "schema": {
                            "$ref": "#/definitions/group"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/groups/{groupId}": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADGroup",
                "operationId": "GetGroup",
                "summary": "Get a group by objectId",
                "description": "Get a group by objectId from Azure Active Directory",
                "tags": [
                    "Group"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/groupIdParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A group",
                        "schema": {
                            "$ref": "#/definitions/group"
                        }
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "delete": {
                "x-powershell-verb": "Remove",
                "x-powershell-noun": "AzureADGroup",
                "operationId": "DeleteGroup",
                "summary": "Delete a group by objectId.",
                "description": "Delete a group by objectId.",
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/groupIdParam"
                    }
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            },
            "patch": {
                "x-powershell-verb": "Set",
                "x-powershell-noun": "AzureADGroup",
                "operationId": "UpdateGroup",
                "summary": "Updates a specific group in Azure Active Directory",
                "description": "Updates a group (group object) identified by objectId in Azure Active Directory",
                "parameters": [
                    {
                        "$ref": "#/parameters/tenantIdParam"
                    },
                    {
                        "$ref": "#/parameters/authorizationHeaderParam"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParam"
                    },
                    {
                        "$ref": "#/parameters/groupIdParam"
                    },
                    {
                        "name": "group",
                        "in": "body",
                        "description": "group with updated fields",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/group"
                        }
                    }
                ],
                "tags": [
                    "Group"
                ],
                "responses": {
                    "204": {
                        "$ref": "#/responses/successResponse"
                    },
                    "default": {
                        "$ref": "#/responses/unexpectedErrorResponse"
                    }
                }
            }
        },
        "/{tenantId}/groups/{groupId}/owners": {
            "get": {
                "x-powershell-verb": "Get",
                "x-powershell-noun": "AzureADGroupOwners",
                "x-powershell-paging": true,
                "x-powershell-filterable": false,
[...]
